<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
    </head>
    <body>
        {{>header}}
        <h4> user: {{name}}</h4>
        <h4> Message: {{message}}</h4>
        {{>footer}}
    </body>
</html>