<link rel='stylesheet' type='text/css' href='/css/header.css'>
<div id='header-div'>
    <h1 id='title'>{{title}}</h1>

    <div id='items-div'>
        <a href='/'>Home</a>
        <a href='/help'>Help</a>
        <a href='/about'>About</a>
    </div>
</div>